.about-us-text {
  font-size: 23px;
  color: #1b414b;
}

.about-us-discription {
  font-size: 13px;
  line-height: 1.15;
  color: #04030679;
}
.about-text {
  font-size: 23px;
  color: #1b414b;
}

.about-description {
  font-size: 13px;
  line-height: 1.15;
  color: #04030666;
}
