.section {
  padding: 75px 0;
}

.section-title {
  font-weight: 500;
  font-size: 48px;
  text-align: center;
}

#about .section-title {
  color: #1b414b;
  text-align: left;
  width: 537px;
}

.section-subtitle {
  width: 571px;
  margin: 0 auto 75px;
  line-height: 1.28571;
  text-align: center;

  color: rgb(251 251 251 / 0.4);
}
