.yachts .section-title {
  width: 710px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 75px;
}

.yacht-list {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-bottom: 69px;
}

.yacht-list-item {
  border-radius: 24px;
  background: #fbfbfb;
  padding: 16px 16px 32px 16px;
}

.yacht-list-image {
  border-radius: 24px;
  margin-bottom: 32px;
}

.yacht-list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #1b414b;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid rgba(4, 3, 6, 0.1);
  padding-bottom: 16px;
  margin-bottom: 16px;
}

.yacht-list-title-type {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #04030666;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.options-item {
  display: flex;
  justify-content: space-between;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #04030666;
}
.option-item-value {
  color: #040306;
  text-transform: none;
  width: 96px;
}

.options-wrapper {
  padding: 0 16px;
}

.yacht-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  border: 1px solid rgba(251, 251, 251, 0.35);
  border-radius: 15px;

  max-width: 180px;
  height: 59px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.yacht-link:hover,
.yacht-link:focus {
  background-color: #1b414b;
}
